body{
    background: url(../images/hang.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
}
.hangman {
    font-family: 'Amatic SC', cursive;
    color: crimson;
    font-size: 100px;
}
.halloween {
    color: greenyellow;
    font-family: 'Butcherman', cursive;
    transform: rotate(-7deg);
    font-size: 75px;
    float: right;
}
.panel {
    background: greenyellow;
    width: 600px;
    height: 600px;
}
.panel-title {
    text-align: center;
    color: crimson;
    font-family: 'Butcherman' , cursive;
    font-size: 50px;
}
.panel-body {
    color: crimson;
    font-family: 'Butcherman' , cursive;
    font-size: 80px;
}